*{
    margin: 0px;
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: 'DM Sans', sans-serif;
}
form{
    background-color: white;
}
.log{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 40px;
    padding-left: 90px;
    border: 1px solid;
    border-radius: 10px;
    border-style: none;
    
}
p, h1{
    text-align: center;
}
.log img{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
}
.first{
    background-color: white;
    font-size: large;

}
.google-btn {
    color: black;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 25%;
    padding-right: 25%;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 10px;
}
.g{
    margin-top: 20px;
    margin-bottom: 20px;
}
a{
    background-color: white;
 } 

h1, p , input, option{
    padding-bottom: 10px;
    background-color: white;
}
p{
    font-size: 12px;
}
input{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 90%;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(236, 236, 236);
    border-radius: 10px;
}
.part{
    width: 90%;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(236, 236, 236);
    border-radius: 10px;
    color: white;
    background-color: rgb(98, 3, 143);
}
.last{
    margin-top: 30px;
    text-align: center;
}
.last2{
    text-decoration: none;
    color: purple;
    font-weight: bold;
}